body {
    background-color: #f9f7f7;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #c5d1e7;
    border-width: 5px;
    width: 5%;
}

img {
    height: 70%;
    width: 70%;
}

.melon {
    border-radius: 100%;
}

.IGP {
    height: 50%;
    width: 50%;
}

h1 {
    color: #112d4e;
}

h3 {
    color: #3f72af;
}

#heading {
    color: #303d55;
}